@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(.fonts/Roboto-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  font-display: swap;
}

@font-face {
  font-family: Archangelsk;
  src: url(./fonts/Archangelsk.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 62px;
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --color-yellow: #f8f200;
  --color-blue: #52bedc;
  --color-black: #000000;
  --color-white: #fff;
  --color-grey: #777;

  --font-family-main: "Roboto", sans-serif;
  --font-family-accent: "Archangelsk", sans-serif;
}

body {
  font-family: var(--font-family-main);
  font-size: 18px;
}
span {
  color: var(--color-blue);
  font-weight: 700;
}
.header {
  background-image: url(./imges/header-IMG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: HeaderIMG 20s linear infinite;
}

@keyframes HeaderIMG {
  from {
    background-image: url(./imges/header-IMG.jpg);
  }
  33% {
    background-image: url(./imges/header-IMG-2.jpg);
  }
  66% {
    background-image: url(./imges/header-IMG-3.jpg);
  }
  to {
    background-image: url(./imges/header-IMG.jpg);
  }
}
.container {
  max-width: 1352px;
  padding-inline: 36px;
  margin-inline: auto;
}
/* /////HEADER/////////// */
.header-wrapper {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-line {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social {
  display: flex;
  gap: 0 40px;
}

.header-banner {
  align-self: flex-end;
}
.header-banner__block {
  max-width: 624px;
  background: linear-gradient(
    315deg,
    transparent 5%,
    var(--color-yellow) 5%,
    var(--color-yellow) 95%,
    transparent 95%
  );
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 25px;
}
.title {
  font-family: var(--font-family-accent);
  font-size: 62px;
}
.button {
  color: var(--color-yellow);
  background-color: var(--color-black);
  padding-inline: 50px;
}
.header-banner__button {
  font-size: 24px;
  font-weight: 700;
  padding-block: 20px;
  width: 272px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-banner__button:hover {
  cursor: pointer;
  color: var(--color-blue);
}

/* /////cyberPunk-description///////// */
.cyberPunk-description__wrapper {
  padding-block: 50px;
}

.cyberPunk-description__text {
  color: var(--color-grey);
  line-height: 34px;
  max-width: 952px;
  font-size: 18px;
  margin-block: 25px 70px;
}
.cyberPunk-description__text::before {
  content: "Cyberpunk 2077";
  color: var(--color-blue);
  font-weight: 700;
}
.cyberPunk-description-images {
  display: flex;
  column-gap: 32px;
}
.cyberPunk-description-images__item {
  display: flex;
  row-gap: 32px;
  flex-direction: column;
  max-width: 460px;
}

.cyberPunk-description__images-item--img {
  max-width: 788px;
  max-height: 424px;
}

/* /////////////play-Win///////////// */
.play-Win {
  background-color: var(--color-black);
  color: var(--color-white);
}

.play-Win::before {
  content: "";
  background-image: url(./imges/play-win-top.png);
  display: block;
  height: 70px;
  width: 100vw;
}
.play-Win::after {
  content: "";
  background-image: url(./imges/play-win-bottom.png);
  display: block;
  height: 70px;
  width: 100vw;
}
.play-Win-wrapper {
  display: flex;
  justify-content: space-between;
}
.play-Win-left-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.play-Win__title::before {
  content: "акция";
  color: var(--color-yellow);
  font-size: 30px;
  transform: rotate(-45deg);
  justify-content: center;
  align-items: center;
  background: url(./imges/Vector.svg) no-repeat;
  width: 132px;
  aspect-ratio: 1;
  display: flex;
  margin-block: 15px;
}
.play-Win__description-sale {
  max-width: 460px;
  line-height: 34px;
}
.play-Win-form {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  font-weight: 300;
  font-family: var(--font-family-main);
  color: var(--color-white);
  font-size: 18px;
}
.play-Win-form__input {
  background-color: inherit;
  border: none;
  height: 46px;
}
.play-Win-form__input::after {
  content: "";
  height: 2px;
  width: 460px;
  background-color: var(--color-white);
}

/* /////full-immersion///////// */

.full-immersion__top-line {
  background: url(./imges/full-immersion\ top.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 70px;
}

.full-immersion {
  background-color: #f8f200;
}

.full-immersion__wrapper {
  display: flex;
  gap: 0 32px;
  padding-block: 70px;
}

.images-block {
  max-width: 624px;
}

.images-block__display {
  max-height: 430px;
  margin-bottom: 26px;
}
.images-block__img-group {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.images-block__img-group-logo {
  width: 320px;
  height: 80px;
}

.full-immersion__options {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}
.full-immersion__options-item {
  display: flex;
  gap: 0 10px;
}

.full-immersion__options-text {
  line-height: 34px;
}

.full-immersion__option-link {
  margin-top: 15px;
  width: 194px;
  height: 60px;
  font-size: 18px;
}

/* //////buygame///////// */
.buyGame__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 717px;
  grid-template-areas: "image contant";
}
.buyGame__img {
  grid-area: image;
  background: url(./imges/buy-game.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.buyGame__block {
  grid-area: contant;
  padding: 36px;
  display: inline-block;
  background-color: #000;
  color: #fff;
}
.buyGame__title {
  max-width: 624px;
  margin-bottom: 25px;
}
.buyGame__subTitle {
  color: #52bedc;
  font-weight: 700;
  font-size: 24px;
}
.buyGame__content {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  margin-bottom: 70px;
}
.buyGame__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.choosePlatform__text {
  margin-bottom: 25px;
}
.choosePlatform__item {
  display: grid;
  grid-template-columns: 62px 178px;
  grid-template-rows: 36px 52px;
  justify-content: start;
  align-items: center;
  gap: 48px 80px;
}

/* ////////////footer/////////////// */

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 13px;
}
.footer__item {
  display: flex;
  column-gap: 32px;
}
.footer__bottom {
  background-color: #000;
}
.footer__bottom-text {
  text-align: center;
  padding-block: 13px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}
