html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: "Roboto", sans-serif;
}
@font-face {
  font-family: Archangelsk;
  src: url(./fonts/ofont.ru_Archangelsk.ttf);
}

body{
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.header {
  background-image: url(./imges/header-IMG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container{
  max-width: 1352px;
  padding-inline: 36px;
  margin: 0 auto;
}
.wrapper {
  min-height: 1000px;
}
.menu-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links{
  display: flex;
  gap: 0 40px;
}
.header-bottom__block{
  width: 624px;
  height: 370px;
  background: linear-gradient(315deg,  transparent 5%, #F8F200 5%, #F8F200 95%, transparent 95%);
  padding-inline: 70px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.header-bottom__title{
  font-family: Archangelsk;
  font-size: 62px;
  max-width: 484px;
}
.header-bottom__button{
  margin-block: 25px 70px;
}
.header-bottom__button{
  color: #F8F200;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  background-color: #000;
  padding: 50px 20px;
  width: 272px;
  height: 78px;
}